body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-image: url(../imagens/imagemfundo.jpg);
    background-size: cover;
    /* background-color: rgb(44, 41, 46); */

}

.titulo-do-album h1 {
    color: white;
    font-size: 35px;
    font-family: Modak;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    margin: 0;
}

@media(max-width: 420px){
    .titulo-do-album h1 {
        align-content: center;
        text-align: center;
        font-size: 25px;
    }
}


.nome-do-casal h1 {
    display: block;
    color: white;
    text-shadow: 4px 4px black;
    font-family: Playwrite IN;
    font-weight: 400;
    font-style: normal;
    padding-top: 90px;
}

@media(max-width: 420px){
    .nome-do-casal h1 {
        justify-items: center;
        text-align: center;
        font-size: 18px;
    }
}

.carrossel{
    overflow: hidden;
    height: 700px;
    width: 700px;
    display: flex;
    margin: 20px auto;
}

.container{   
    display: flex;
    transition: transform 0.5s ease-in-out;
 }

 .container img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 420px) {
    .carrossel {
        width: 419px; /* Ajusta a largura do carrossel */
    }
    .container img {
        width: 419px; /* Ajusta a largura das imagens */
    }
}

/* @media(max-width: 420px){
    .container img {
        width: 420px;
        height: 700px;
    }
} */

.texto-inferior p {
    color: white;
    font-family: Playwrite IN;
    text-shadow: 4px 4px black;
    text-align: center;
    font-size: 25px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
}

@media(max-width: 699px){
    .texto-inferior p {
        text-align: center;
        font-size: 26px;
        padding: 0;
    }
}

.texto-dias p {
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 70px;
}

@media(max-width: 420px){
    .texto-dias p {
        text-align: center;
        font-size: 16px;
        padding: 0;
    }
}

.contador-de-dias h1 {
    color: white;
    text-align: center;
}

form {
    font-family: Playwrite IN;
    text-align: center;
}


form label {
    display: block;
    color: white;
    font-size: 45px;
}

@media(max-width: 420px){
    form label {
        font-size: 16px;
        padding: 0;
    }
}

input{
    border: 2px;
    margin: 10px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

@media(max-width: 420px){
    input {
        text-align: center;
        font-size: 16px;
        padding: 0;
    }
}

input:hover{
    background-color: #3952ddd5; 
    transition: 0.5s;
    opacity: 0.9;
    transform: scale(1.1);
}

#date_ini{
    margin-right: 20px;

}

button {
    border: 2px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 50px;
    font-size: 30px;
    padding: 15px;
    pointer-events: visible;
    
}

button:hover { 
    background-color: #3952ddd5; 
    transition: 0.5s;
    opacity: 0.9;
    transform: scale(1.1);

}

@media(max-width: 420px){
    button {
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }
}

#days{
    color: white;
    font-family: Playwrite IN;
    font-size: 40px;
    padding: 20px;
}

@media(max-width: 420px){
    #days {
        text-align: center;
        font-size: 16px;
    }
}